body {
    font-family: sans-serif;
}

h2,
h3,
ol strong {
    font-weight: normal;
}

h2 {
  color: maroon;
}

h3 {
  color: navy
}

em {
    background-color: yellow;
}

strong {
    color: red;
}

p strong {
    color: coral;
}

h3 strong {
    color: blue;
}

ul strong {
    color: dodgerblue;
}

ol strong {
    color: green;
}


.footer-back {
 justify-content: left;
 border: none;
 padding: 1rem;
}

.footer-details {
 align-self: right;
 border: none;
 padding: 1rem;
}

footer {
    color: black;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 1rem;
    font-style: italic;
}