div {
	border: 1px solid red;
    padding: 30px 60px;
    width: 250px;
    margin: 20px auto 60px;
}
* {
	box-sizing: border-box;
}

.footer-back {
 justify-content: left;
 border: none;
 padding: 1rem;
}

.footer-details {
 align-self: right;
 border: none;
 padding: 1rem;
}

footer {
    color: black;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 1rem;
    font-style: italic;
}